html {
margin : 0;
padding : 0;
}
body {
font : 75% georgia, sans-serif;

color : #fbfdfa;
background : rgba(73, 46, 39, 0.66);
margin : 0;
padding : 0;
}
p {
margin-top : 0;
text-align : justify;
}

h3 {
font : italic normal normal 1.4em georgia, sans-serif;
letter-spacing : 1px;
margin-bottom : 0;
color : #e7dfbe;
}
a:link {
font-weight : bold;
text-decoration : none;
color : #f9eef7;
}
a:visited {
font-weight : bold;
text-decoration : none;
color : #fcfbfe;
}
a:hover, a:focus, a:active {
text-decoration : underline;
color : #f9f8fc;
}

abbr {
border-bottom : none;
}
.page-wrapper {
background : rgb(126, 9, 9);
padding : 0 175px 0 110px;
margin : 0;
position : relative;
}
.intro {
min-width : 470px;
width : 100%;
}
